.align-initial {
    align-items: initial;
    flex-wrap: wrap;
}

.d-initial {
    display: initial !important;
}

.font-2 {
    font-size: 2.5rem;
}

.font-1 {
    font-size: 1.25rem;
}

.line-height-3 {
    line-height: 3rem;
}

.pad-right-2 {
    padding-right: 2rem;
}

.menu-list-2 {
    padding-left: 5rem;
}

.menu-bold {
    font-weight: bold;
}

.menu-main {
    color: red !important;
}

.menu-item {
    margin-bottom: 1.5rem !important;
}

.mb-custom {
    margin-bottom: 1.5rem !important;
}

.story-yelp-image {
    width: 150px;
}

.hero-logo {
    width: 75%;
}

.yelp-link {
    color: crimson !important;
    font-weight: bold;
    transition: color .3s ease-in-out;
}

.facebook-link {
    color: blue !important;
    font-weight: bold;
    transition: color .3s ease-in-out;
}

.yelp-link:hover,
.facebook-link:hover {
    color: black !important;
}

.button-custom {
    padding: 1rem 1.5rem;
    font-size: 1.1rem!important;
    margin: 0;
    line-height: initial;
    font-weight: 500;
    text-transform: uppercase;
    background: #232323;
    border-color: transparent;
    color: #fff;
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
}

.menu-title-mobile {
    margin-bottom: 2rem;
}


.nav-call-container ul {
    margin: 1.4em 0;
    list-style-type: none;
}

.pizza-header-png {
    width: 90%;
    padding-bottom: 2rem;
}

.button-large {
    background-color: black;
    color: white !important;
    padding: 1.8rem 2.6rem;
    border-radius: 35px;
    font-size: 1.5rem;
    position: relative;
    bottom: 0;
    transition: all .25s ease-in-out;
}

.button-large:hover {
    background-color: crimson;
    bottom: .5rem;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.flex-column-order {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.flex-column-order > h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}


@media only screen and (max-width: 958px) {
    .nav-call-container {
        display: inline-block;
    }

    .nav-bar-inner {
        display: flex;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 530px) {
    .row .row {
        margin-left: 0;
    }

    #story {
        padding-top: 3rem !important;
    }

    .story-yelp-image {
        display: none;
    }

    .flex-column-order {
        justify-content: center;
        width: 100%;
        align-items: center;
    }

    .button-large {
        padding: 1.8rem 2.6rem;
        font-size: 1.5rem;
    }
    
    .mb-mobile-0 {
        margin-bottom: 0;
    }

    .menu-box.xlarge, .menu-list.boxed.xlarge {
        padding-top: 4rem;
    }

    .hero-5 .column:first-child:not(.media-column) .split-hero-content {
        margin-top: 5rem;
    }

    .section-block, .fullscreen-section .fullscreen-inner, .pagination-2 .pagination-next, .row.xlarge {
        padding-bottom: 5rem;
    }

    .menu-list-2 {
        padding-left: 0;
    }

    .navigation.nav-right {
        margin-left: 0;
    }

    .hero-logo {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .custom-button {
        padding: 1.3rem 1.8rem;
        font-size: 1rem;
    }

    .button-large {
        padding: 1.8rem 2.6rem;
        font-size: 1.5rem;
    }
}